
body{
    font-family: 'Roboto', Arial, Sans-serif;
    background: linear-gradient(45deg, #8860D0, #C1C8E4, #84CEEB)
}

#wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    
}

#main-title {
    position: relative;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0;
    margin-bottom: 2%;
    text-align: center;
    font-size: 40px;
    background: #5680E9;
    border-bottom: 3px solid rgb(40, 17, 105);
    color: rgb(224, 224, 224);
    box-shadow: 2px 2px 2px rgb(40, 17, 105);
    text-shadow: 2px 2px 2px rgb(40, 17, 105);
}

#train-display {
    position: relative;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2%;
    border: 2px solid rgb(40, 17, 105);
    text-align: center;
    box-shadow: 2px 2px 2px rgb(40, 17, 105);
}

th {
    background: rgb(63, 111, 233);
    font-size: 20px;
    color: rgb(224, 224, 224);
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid rgb(40, 17, 105);
    text-shadow: 2px 2px 2px rgb(40, 17, 105);
}

td {
    background: rgb(193, 200, 212, 0.5);
    padding-bottom: 5px;
    padding-top: 5px;
}

#new-train {
    position: relative;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 15px;
    background: rgb(193, 200, 212, 0.35);
    border: 2px solid rgb(40, 17, 105);
    box-shadow: 2px 2px 2px rgb(40, 17, 105);
    color: black;
    text-shadow: 1px 1px 1px rgb(219, 219, 219);
}

.input-field {
    width: 80%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

label {
    display: inline-block;
    padding-bottom: 5px;
}

#submit-button {
    margin-bottom: 0;
    width: 20%;
    height: 20px;
}

.input-line {
    width: 100%;
}

footer {
    position: abosolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 8px;
    border-top: 3px solid rgb(40, 17, 105);
    background: #5680E9;
}